<h1><%=@playdate.title%> with 
<%@playdate.babies.each do |b|%>
  <%=b.name%>
<%end%></h1>
<% if @playdate.creator == current_user%>
<form style='display:inline;'>
  <button formaction="/playdates/<%=@playdate.id%>/edit">Edit Playdate</button>
</form>

<form method="post" action="/playdates/<%=@playdate.id%>" style='display:inline;'>
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete playdate">
</form>
<%end%>
<p>Date:<%=@playdate.date%></p>
<p>Location:<%=@playdate.location%></p>
<p>Zipcode:<%=@playdate.zipcode%></p>
<p>More about this playdate:</p>
<p><%=@playdate.description%></p>

<form method='post' action="/comments/<%=@playdate.id%>">
  <textarea id="content" name="content" rows="4" cols="50">
   Write a comments...
  </textarea>
  <br>
  <input type="submit" value="submit">
</form>

<br><br>

<%if !@playdate.comments.empty?%>
  <p>Comment:</p>

  <%@playdate.comments.each do |c|%>
    <li><a href="/parents/<%=c.commentor.slug%>"><%=c.commentor.name%></a> says <%=c.content%></li>
       <% if c.commentor == current_user%>
         <form method="post" action="/comments/<%=c.id%>">
           <input type="hidden" id="hidden" name="_method" value="delete">
           <input type="submit" value="delete comment">
         </form>
       <%end%>
    <%end%> 
<%end%>

