<h2><%=@parent.name%>, Welcome to Bamblino! </h2>

<%Playdate.all.each_with_index do |playdate,i|%>
  <h3><a href="/playdates/<%=playdate.id%>"><%=i+1%>. <%=playdate.title%></a></h3>
    <% if playdate.creator == current_user%>
      <form style='display:inline;'>
        <button formaction="/playdates/<%=playdate.id%>/edit">Edit Playdate</button>
      </form>

      <form method="post" action="/playdates/<%=playdate.id%>" style='display:inline;'>
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete playdate">
      </form>

    <%elsif current_user.attended_playdates.include?(playdate)%>
        <form method="post" action="/attend_playdates/<%=playdate.id%>">
        <input type="hidden" id="hidden" name="_method" value="delete">
        <button id="rsvpd" onclick="rsvpd()">RSVP'd</button>
        </form>
    <%else%>
        <form action="/attend_playdates/<%=playdate.id%>/new">
            <button id="rsvp" onclick="rsvp()">RSVP</button>
        </form>   
    <%end%>

  <h6><%=playdate.date%><br></h6>

  - with <%playdate.babies.each do |b|%>
    <%=b.name%>
  <%end%>
  <br>

  <a href='/comments/<%=playdate.id%>/new'><%=playdate.comments.count%> comments<a>
  <br><br>

<%end%>
