<h2><%=@parent.name%>, Welcome to Bamblino! </h2>
<%@parent.playdates.each_with_index do |playdate,i|%>
  <h3><a href="/playdates/<%=playdate.id%>"><%=i+1%>. <%=playdate.title%></a></h3>
  <h6><%=playdate.date%><br></h6>
  - with <%playdate.babies.each do |b|%>
    <%=b.name%>
  <%end%>
<%end%>
