<h1>All babies</h1>
<a href="/babies/new" class="lead"> Create a new baby profile</a>
<br>
<%@babies.each do |b|%>
  <b><h3><%=b.name%></h3></b>
   Gender:<%=b.gender%><br>
   Age:<%=b.age%> years old<br>
   About <%=b.name%>:<%=b.about_me%><br><br>

  <a href="/babies/<%=b.slug%>/edit" class="btn btn-default btn-xs" role="button">Edit Profile</a>

  <form style='display:inline;' method="post" action="/babies/<%=b.slug%>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" class="btn btn-default btn-xs" value="Delete Profile">
  </form>

<%end%> 
<br><br>

<br>
 
  