<h4><%=@baby.name%></h4>
Gender:<%=@baby.gender%><br>
Age:<%=@baby.age%> years old<br>
About <%=@baby.name%>:<%=@baby.about_me%><br>


<a href="/babies/<%=@baby.slug%>/edit" class="btn btn-default btn-xs" role="button">Edit Profile</a>

<form style='display:inline;' method="post" action="/babies/<%=@baby.slug%>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" class="btn btn-default btn-xs" value="Delete Profile">
</form>
